@import "tailwindcss";

@theme {
  
  /*
  color
  theme: --color-[name]
  usage: utility-token e.g. text-accent-400
   */
  --color-accent-500: hsl(12, 50%, 40%);
  --color-accent-400: hsl(12, 88%, 59%);
  --color-accent-300: hsl(12, 88%, 75%);
  --color-accent-100: hsl(13, 100%, 96%);
  
  --color-primary-400: hsl(228, 39%, 23%);
  
  --color-neutral-100: hsl(232, 12%, 13%);
  --color-neutral-900: hsl(0, 0%, 98%);

  /* 
  font-family
  theme: --font-[name]
  usage: font-[name]
  */
  --font-primary: 'Be Vietnam Pro', sans-serif;

  --font-body: var(--font-primary);
  --font-heading: var(--font-primary);
  
  /*  
  font-weight
  theme: --font-weight-[name]
  usage: font-[name] 
  */
  --font-weight-regular: 300;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 900;
  
  /* 
  font-size
  theme: --text-[name]
  usage: text-[name]
  */
  --text-300: 0.8125rem;
  --text-400: 0.875rem;
  --text-500: 0.9375rem;
  --text-600: 1rem;
  --text-700: 1.875rem;
  --text-800: 2.5rem;
  --text-900: 3.5rem;

  --text-body: var(--text-400);
  --text-primary-heading: var(--text-800);
  --text-secondary-heading: var(--text-700);
  --text-nav: var(--text-500);
  --text-button: var(--text-300);

  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

@layer utilities{
  .div-container{
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding)*2));
    margin-inline: auto;
  }

  .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }

  .padding-block-700{
    padding-block: var(--size-700);
  }

  .padding-block-900{
    padding-block: var(--size-900);
  }

  .even-columns{
    display: grid;
    gap: 1rem;
  }
  
  @media (min-width: 50em){
    @theme{
    --text-body: var(--text-500);
    --text-primary-heading: var(--text-900);
    --text-secondary-heading: var(--text-800);

    --text-nav: var(--text-300);
    }

    .even-columns{
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
}

@layer components {
  .button {
    @apply 
      rounded-[100vmax] py-[1em] px-[2.5em] font-bold text-button bg-accent-400 
      text-neutral-900 cursor-pointer no-underline shadow-[0_1.25em_1em_-1em_var(--color-accent-500)] 
      hover:bg-accent-300 focus-visible:bg-accent-300;
  }

  .button[data-type="inverted"] {
    @apply bg-neutral-900 text-accent-400 hover:bg-gray-300 focus-visible:bg-gray-300;
  }
}