@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

@theme {
  
  /*
  color
  theme: --color-[name]
  usage: [attribute]-[name] e.g. text-red 
   */
  --color-accent-400: hsl(12, 88%, 59%);
  --color-accent-100: hsl(13, 100%, 96%);
  
  --color-primary-400: hsl(228, 39%, 23%);
  
  --color-neutral-100: hsl(232, 12%, 13%);
  --color-neutral-900: hsl(0, 0%, 98%);

  /* 
  font-family
  theme: --font-[name]
  usage: font-[name]
  */
  --font-primary: 'Be Vietnam Pro', sans-serif;

  --font-body: var(--font-primary);
  --font-heading: var(--font-primary);
  
  /*  
  font-weight
  theme: --font-weight-[name]
  usage: font-[name] 
  */
  --font-weight-regular: 300;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 900;
  
  /* 
  font-size
  theme: --text-[name]
  usage: text-[name]
  */
  --text-300: 0.8125rem;
  --text-400: 0.875rem;
  --text-500: 0.9375rem;
  --text-600: 1rem;
  --text-700: 1.875rem;
  --text-800: 2.5rem;
  --text-900: 3.5rem;

  --text-body: var(--text-400);
  --text-primary-heading: var(--text-800);
  --text-secondary-heading: var(--text-700);
  --text-nav: var(--text-500);
  --text-button: var(--text-300);
}

@media (min-width: 50em) {
  @theme{
    --text-body: var(--text-500);
    --text-primary-heading: var(--text-900);
    --text-secondary-heading: var(--text-800);

    --text-nav: var(--text-300);
  }
}